*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Poiret One", sans-serif;
  font-size: 24px;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.5em;
  background-color: #eee2dc;
}


/* скрытие скролла 
body::-webkit-scrollbar {
  display: none;
}
 
 Скрываем scrollbar для IE, Edge и Firefox 
.body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: transform 0.5s ease;
}

a:hover{
  transform: scale(1.2);
  text-decoration: underline;
}

img {
  width: 100%;
}
